@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    font-family: "Roboto", sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

p {
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}


.App {
    background-color: rgb(240, 242, 245);
}



.home-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.carouselDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundimg {
    background-image: url('../images/radhaMadhav_dark.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-content {
    text-align: center;
    color: white;
    width: 40%;
}

.center-content h1 {
    font-weight: bolder;
    font-size: 50px;
}

.center-content p {
    font-size: 20px;
}

.content-container {

    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    overflow: visible;
    width: 90%;
    margin-top: -70px;
    display: flex;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 16px;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(200%) blur(30px);
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem;
    margin-bottom: 4%;
    z-index: 100;
}

.Counter-section {
    display: flex;
    align-items: center;
}

.counter {
    margin: 0px;
    font-size: 3rem;
    line-height: 1.25;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(26, 115, 232);
    letter-spacing: -0.125px;
    background-image: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    display: inline-block;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}


.counter-div {
    border-top: 0px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: none;
    margin: 0px;
}





.counter-heading {
    margin: 16px 0px 8px;
    font-size: 1.25rem;
    line-height: 1.375;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(52, 71, 103);
    letter-spacing: -0.125px;
}

.counter-def {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(123, 128, 154);
    letter-spacing: -0.125px;
}




.card_ {
    /* padding: 50px; */
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
    /* width: 100%; */
    position: relative;
    z-index: 2;
    opacity: 1;
    color: rgb(52, 71, 103);
    box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
    backface-visibility: hidden;
    /* background: linear-gradient(195deg, rgba(73, 163, 241, 0.85), rgba(73, 163, 241, 0.85)) 0% 0% / cover, url("../images/rotating-card-bg-front1.jpg") transparent; */
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.85), rgba(73, 163, 241, 0.85)) 0% 0% / cover;
    border-radius: 0.5rem;
    background-position: center;
    background-size: contain;
    height: 500px;
}

.card-main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-section {
    margin-top: 50px !important;

}

.row {
    justify-content: center;
}

.container_cards {
    display: -ms-grid;
    display: grid;
    grid-gap: 0.5em;
    -ms-grid-rows: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    color: rgb(52, 71, 103);
}

.container_cards p {

    color: rgb(123, 128, 154);
}

/* styles.css */
@media screen and (max-width: 60em) {
    .container {
        -ms-grid-rows: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.grid-1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row: 1;

}

@media screen and (max-width: 60em) {
    .grid-1 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 1;
        grid-row: 1;
    }
}

.grid-2 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row: 1;
}

@media screen and (max-width: 60em) {
    .grid-2 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 2;
        grid-row: 2;
    }
}

.grid-3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row: 2;
}

@media screen and (max-width: 60em) {
    .grid-3 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 3;
        grid-row: 3;
    }
}

.grid-4 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row: 2;
}

@media screen and (max-width: 60em) {
    .grid-4 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 4;
        grid-row: 4;
    }
}

.callout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    text-align: left;

    max-height: 180px;
    /* border-color: black; */
}


.donation-container {

    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-image: url("../images/radhaMadhav_dark.jpg");
    background-position: top center;
    background-size: cover;
    background-size: 100% auto;
    height: 100vh;
    padding-left: 100px;
}

.center-box {
    max-width: 400px;
    padding: 20px;
    border: 2px solid #333;
    text-align: center;
}

.qr-code {
    max-width: 100%;
    height: auto;

}

.section2 {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.section2-second {
    margin: 5% 10% 4%;
    background-color: #F5AC3E;
    /* background: url("../images/rotating-card-bg-front1.jpg") transparent; */

    background: linear-gradient(195deg, rgba(73, 163, 241, 0.40), rgba(73, 163, 241, 0.85)) 0% 0% / cover, url('https://iskcondwarka.org/wp-content/uploads/2022/02/food-for-life-banner-1484737928.jpg'), transparent;
    /* background: linear-gradient(195deg, rgba(73, 163, 241, 0.40), rgba(73, 163, 241, 0.85)) 0% 0% / cover; */
    background-position: bottom center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Adjusting for smaller screens */
@media screen and (max-width: 768px) {
    .section2-second {
        margin: 5% 5% 4%;
        /* Reduce side margins */
        padding-top: 50px;
        /* Reduce padding */
        height: auto;
        /* Make height flexible */
        background-size: cover;
        /* Ensure background covers the new height */
    }

    .section2-second-text h2,
    .section2-second-text p {
        text-align: center;
        /* Center text for smaller screens */
        padding: 0 10px;
        /* Add padding to ensure text doesn't touch the sides */
    }

    .Donate-Button {
        width: 80%;
        /* Make the button wider to fit smaller screens */
        margin: 10px auto;
        /* Center the button */
    }
}

/* Further adjustments for very small screens */
@media screen and (max-width: 480px) {
    .section2-second {
        margin: 5% 2% 4%;
        /* Further reduce side margins */
    }
}


/* .section2-black {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5
} */
.hero-section-cta {
    position: relative;
    width: 100%;
    /* min-height: 500px; */
    /* Adjust based on your image's height */
    background: url('../images/rath_yatra.jpg') no-repeat center center/cover;
    /* Replace with the actual image URL if needed for web access */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Optional: Improves text readability */
}

.hero-section-cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black layer */
    z-index: 1;
}

.call-to-action-cta {
    padding: 20px;
    position: relative;
    /* Ensure content stays above the overlay */
    z-index: 2;
    /* Bring content above the black layer */
}

.call-to-action-cta h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.call-to-action-cta p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.buttons-cta {
    display: flex;
    gap: 15px;
    justify-content: center;
    position: relative;
    z-index: 2;
    /* Ensure buttons stay above the overlay */
}

.btn-cta {
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.btn-yellow-cta {
    background-color: #ffcc00;
    /* Similar to the yellow "DONATE" button */
}

.btn-green-cta {
    background-color: #00cc99;
    /* Similar to the green "TAKE ACTION" button */
}

.btn-cta:hover {
    opacity: 0.9;
}

.section2-second-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
}

.section2-second-text p {


    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
}

.Donate-Button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 20px;

    background: linear-gradient(10deg, rgba(54, 124, 185, 0.65), rgba(3, 3, 4, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.Donate-Button:hover {
    border: 2px solid white;
}

@media only screen and (max-width: 970px) {
    /* .section2-second {
        display: none;
    } */

    .container-coursel {
        display: none;
    }

    .corusel-blank {
        display: none;
    }

    .donation-container {


        padding-left: 0 !important;
    }



}

.corusel-blank {
    height: 400px;
}

.container-coursel {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
    display: flex;

    border-radius: 0.5rem;

}

.carousel__face span {
    margin: auto;
    font-size: 2rem;
    color: white;
}



.carousel__face:nth-child(1) {
    transform: rotateY(0deg) translateZ(430px);
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.65), rgba(73, 163, 241, 0.55)) 0% 0% / cover, url(../images/coursel1.jpg), transparent;
    background-position: center;
    background-size: contain;
}

.carousel__face:nth-child(2) {
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.65), rgba(73, 163, 241, 0.55)) 0% 0% / cover, url(../images/coursel2.jpg), transparent;
    background-position: center;
    background-size: contain;
    /* background-image: url("../images/coursel2.jpg"); */
    transform: rotateY(40deg) translateZ(430px);
}

.carousel__face:nth-child(3) {
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.65), rgba(73, 163, 241, 0.55)) 0% 0% / cover, url(../images/coursel3.jpg), transparent;
    background-position: center;
    background-size: contain;
    /* background-image: url("../images/coursel3.jpg"); */
    transform: rotateY(80deg) translateZ(430px);
}

.carousel__face:nth-child(4) {
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.65), rgba(73, 163, 241, 0.55)) 0% 0% / cover, url(../images/coursel9.jpg), transparent;
    background-position: center;
    background-size: contain;
    /* background-image: url("../images/coursel9.jpg"); */
    transform: rotateY(120deg) translateZ(430px);
}

.carousel__face:nth-child(5) {
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.65), rgba(73, 163, 241, 0.55)) 0% 0% / cover, url(../images/coursel5.jpg), transparent;
    background-position: center;
    background-size: contain;
    /* background-image: url("../images/coursel5.jpg"); */
    transform: rotateY(160deg) translateZ(430px);
}

.carousel__face:nth-child(6) {
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.65), rgba(73, 163, 241, 0.55)) 0% 0% / cover, url(../images/coursel6.jpg), transparent;
    background-position: center;
    background-size: contain;
    /* background-image: url("../images/coursel6.jpg"); */
    transform: rotateY(200deg) translateZ(430px);
}

.carousel__face:nth-child(7) {
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.65), rgba(73, 163, 241, 0.55)) 0% 0% / cover, url(../images/coursel7.jpg), transparent;
    background-position: center;
    background-size: contain;
    /* background-image: url("../images/coursel7.jpg"); */
    transform: rotateY(240deg) translateZ(430px);
}

.carousel__face:nth-child(8) {
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.65), rgba(73, 163, 241, 0.55)) 0% 0% / cover, url(../images/coursel8.jpg), transparent;
    background-position: center;
    background-size: contain;
    /* background-image: url("../images/coursel8.jpg"); */
    transform: rotateY(280deg) translateZ(430px);
}

.carousel__face:nth-child(9) {
    background: linear-gradient(195deg, rgba(73, 163, 241, 0.65), rgba(73, 163, 241, 0.55)) 0% 0% / cover, url(../images/coursel4.jpg), transparent;
    background-position: center;
    background-size: contain;
    /* background-image: url("../images/coursel4.jpg"); */
    transform: rotateY(320deg) translateZ(430px);
}



@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}


.goals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.goal-card {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.goal-card:hover {
    transform: translateY(-5px);
}

.goal-card p {
    margin: 0;
    color: rgb(123, 128, 154);
    font-size: 16px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .goal-card {
        width: calc(50% - 20px);
        /* Adjust card width on medium screens */
    }

    .iyf-topic {
        border-right: none !important;
    }

    .center-content {
        width: 85%;
    }
}

@media (max-width: 480px) {
    .goal-card {
        width: calc(100% - 20px);
        /* Full width cards on small screens */
    }
}

.iyf-topic {
    /* color: inherit; */
    border: 0;
    border-right: var(--bs-border-width) solid;
    /* opacity: .25; */
    display: flex;
    justify-content: center;
    align-items: center;
}



/* activeties at glance 

*/

.activities-container {
    color: #344767;
    padding: 20px;
}

.activities-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.activity-card {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px 0;
    padding: 20px;
    color: #7b809a;
}

.activity-card h4 {
    color: #344767;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .activity-card {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .activity-card {
        margin: 10px;
        padding: 10px;
    }
}

.backgroundImageContact {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundImageContact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Adjust the alpha value (0.5) to make it darker or lighter */
    z-index: 2;
}

.backgroundImageContact {
    background-image: url('../images/iskcon_contact.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.contact-us {
    text-align: left;
}

.contact-us h1 {
    color: rgb(26, 115, 232);
}

.formGroup {
    margin: 10px;
}


.signin-background {
    background: url('../images/radhaMadhav.jpg') no-repeat top center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.signin-background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    /* Dark overlay */
    z-index: 1;
}

/* Ensure the card (white box) is above the overlay */
.card-signin {
    z-index: 2;
}

/* Additional styling for the card to make it more appealing */
.card-signin {
    background: rgba(255, 255, 255, 0.85);
    /* Semi-transparent white */
    /* margin-top: 0px; */
    /* Adjust as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* sidebar in dashboard
 */

#sidebar-wrapper {
    background-color: #343a40;
    min-height: 100vh;
    padding: 0;
    color: white;
}

.sidebar .nav-link {
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

#page-content-wrapper {
    padding: 20px;
    background-color: #f8f9fa;
}

.main-content {
    padding: 20px;
}

.main-content h2 {
    margin-bottom: 20px;
}

.main-content section {
    margin-bottom: 40px;
}